body {
    color: #f4f4f4;
    margin-top: 20px;
}

.section {
    padding: 100px 0;
    position: relative;
}

.gray-bg {
    background-color: #dcdcdc;
}

img {
    max-width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}
/* About Me 
---------------------*/
.about-list {
    text-align: justify;
    text-justify: inter-word;
}

.about-text h3 {
    font-size: 45px;
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 6px;
}

@media (max-width: 767px) {
    .about-text h3 {
        font-size: 35px;
    }
}

.about-text h6 {
    font-weight: 600;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .about-text h6 {
        font-size: 18px;
    }
}

.about-text p {
    font-size: 18px;
    max-width: 450px;
}

    .about-text p mark {
        font-weight: 600;
        color: #20247b;
    }

.about-list {
    padding-top: 10px;
}

    .about-list .media {
        padding: 5px 0;
    }

    .about-list label {
        color: #20247b;
        font-weight: 600;
        width: 88px;
        margin: 0;
        position: relative;
    }

        .about-list label:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 11px;
            width: 1px;
            height: 12px;
            background: #20247b;
            -moz-transform: rotate(15deg);
            -o-transform: rotate(15deg);
            -ms-transform: rotate(15deg);
            -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
            margin: auto;
            opacity: 0.5;
        }

    .about-list p {
        margin: 0;
        font-size: 15px;
    }

@media (max-width: 991px) {
    .about-avatar {
        margin-top: 30px;
    }
}

.about-section .counter {
    padding: 22px 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}

    .about-section .counter .count-data {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .about-section .counter .count {
        font-weight: 700;
        color: #20247b;
        margin: 0 0 5px;
    }

    .about-section .counter p {
        font-weight: 600;
        margin: 0;
    }

mark {
    background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-color: transparent;
    padding: 0;
    color: currentColor;
}

.theme-color {
    color: #fc5356;
}

.dark-color {
    color: #20247b;
}

.is-rounded {
    border-radius: 99%;
}

.align-items-center {
    text-align: center;
}

#canvas-container {
    /*    float: left;
    position: absolute;
    left: 0px;*/
    /* width: 800px; or whatever width you want. */
    width: 50%;
    /*float:left;*/
    max-width: 800px; /* or whatever width you want. display: inline-block;*/
    min-width: 300px;
    margin: auto;
}

/* Navigation */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2,
h3,
a {
    color: #34495e;
}

a {
    text-decoration: none;
}

.logo {
    margin:0;
    font-size: 1.45em;
}

.logo a {
    color: white;
}

.logo a:hover {
        color: #718daa;
    }

.main-nav {
    margin-top: 5px;
}

    .logo a,
    .main-nav a {
        padding: 10px 10px;
        text-transform: uppercase;
        text-align: center;
        display: block;
        font-weight: bold;
    }

.main-nav a {
    color:white; /*#34495e;*/
    font-size: .99em;
}

.main-nav a:hover {
    color: #718daa;
}


.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #a2a2a2;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


/* ================================= 
  Media Queries
==================================== */

/*
@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;
        .header

{
    width: 80%;
    margin: 0 auto;
    max-width: 1150px;
}

}
}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
} */

/* Two-column layout*/
iframe.news-image {
    background: #dadada;
    /*height: 50px;
    width: 50px;*/
}

p.news-info {
    margin-top: 5px;
}

.news-item {
    clear: both;
    border: 1px solid #dadada;
    /*margin: 5px;
    padding: 5px;*/
}

/*    .news-item:nth-child(odd) div.news-info {
        float: right;
    }

    .news-item:nth-child(odd) div.news-image {
        float: left;
    }

    .news-item:nth-child(even) div.news-info {
        float: left;
    }

    .news-item:nth-child(even) div.news-image {
        float: right;
    }*/

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #eceeef;
    border-radius: 0.3rem;
}
